<%- include('inc/_header.ejs') %>

<div class="flex items-end pt-16 ml-16">
    <h2 class="font-extrabold text-9xl">404</h2>
    <h2 class="font-extrabold text-8xl">,</h2>
    <h2 class="font-extrabold text-4xl ml-4">Sorry I was unable to find that page!</h2>
</div>

<%- include('inc/_footer.ejs') %>